
input{
    width: 80%;
    margin: 30px;
    
    padding: .5rem 1rem;
    font-size: 1rem;
}
div{
    font-size: 1.2rem;
    margin: 1.5rem 0;
    padding: 1rem;
    background-color: beige;
    position: relative;
}
div label{
    font-size: .75rem;
    position: absolute;
    top: -.75rem;
    left: 1rem;
    background-color: #000;
    color: #fff;
    padding: .25rem;
}
